<nav>
  <div class="site-title">
    <a href="/">
      <h1>Blog</h1>
    </a>
    <p>SGG</p>
  </div>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    </li>
    <li>
      <a href="/blogs/create">New Blog</a>
    </li>
    <% if(!isLoggedIn) {%>
      <li>
        <a href="/users/signup">Sign Up</a>
      </li>
      <li>
        <a href="/users/signin">Sign In</a>
      </li>
    <% } else {%>
      <li>
        <a href="/users/signout">Sign out</a>
      </li>
    <% } %>
  </ul>
</nav>